@import "../../style/var";

.wraper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  max-width: 1200px;
  margin: 0 auto;
}

.panel {
  @include flexCenterSpaceBetween;
  flex-flow: row;
  margin: 10px 0;
}

.today {
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.buttonGroup {
  display: flex;
  min-width: 210px;
}

.direction {
  @include flexCenter;
  font-weight: bold;
  cursor: pointer;
}

.directionButton {
  cursor: pointer;
  padding: 5px;
}

.holiday {
  color: $colorRed;
}
