$colorText: #505050;

$colorMain: #FAF8F5;
$colorBorder: #E0DDDA;
$colorButton: #E9E6DF;
$colorHeaderLight: #EAE7E4;
$colorHeaderDark: #8A8A8D;

$colorGreen: #58B070;
$colorGrey: #BCBEC1;
$colorRed: #D95757;
$colorWhite: #FFFFFF;
$colorYellow: #FFD657;

$colorButtonBorder: #BAB29E;

$colorBackgroundHover: #505050;
$colorInputBorder: #676869;
$colorBtnBorder: #95958D;
$colorBtnHover: #FEE9A9;

$colorBorderBody: #CAC7BE;
$backgroundColourBtn: #E4DFD2;
