@import "../../style/var";

.todolist {
  width: calc(100% - 80px);
  height: calc(40% - 83px);
  max-width: 1200px;
  margin: 0 auto 40px;
  border: 1px solid $colorBorder;
  border-radius: 5px;
  overflow: hidden;
  &.todolistFullView {
    height: calc(100% - 142px);
  }
}

.header {
  height: 40px;
  max-width: 100%;
  line-height: 40px;
  font-weight: bold;
  background-color: $colorViewHeader;
  border-bottom: 1px solid $colorBorder;
  @include flexCenterSpaceBetween;
  .title {
    @include flexCenterCenter;
    flex: 1;
  }
  .switcher {
    @include flexCenter;
    height: 24px;
    margin-right: 10px;
  }
  span.holiday {
    color: #d95757;
  }
}

.body {
  height: calc(100% - 39px);
  max-width: 100%;
  overflow: auto;
  background-color: $mainColorSidebar;
  position: relative;
  @include chromeScrollBar;
}

.contextMenuItem {
  &:not(:last-child) {
    border-bottom: 1px solid $colorBorderSquare;
  }
  &:hover {
    background-color: #fee9a9;
  }
}

.exitDone {
  height: calc(100% - 142px);
  max-height: calc(100% - 142px);
}
.enterDone {
  height: calc(40% - 83px);
  max-height: calc(40% - 83px);
}
.exitActive {
  animation: inToDoList 0.3s ease-in-out 1;
}
.enterActive {
  animation: outToDoList 0.3s ease-in-out 1;
}

@keyframes inToDoList {
  0% {
    height: 100%;
    max-height: calc(40% - 83px);
  }
  100% {
    height: 100%;
    max-height: calc(100% - 142px);
  }
}

@keyframes outToDoList {
  0% {
    height: 100%;
    max-height: calc(100% - 142px);
  }
  100% {
    height: 100%;
    max-height: calc(40% - 83px);
  }
}
